@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.card__heading {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__section{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}