.notes__card__section{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height:fit-content;
}

.notes__card__item{
    width:550px;
    height:150px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background: rgb(251, 249, 249);
}
.notes__card__photo{
    width:180px;
    padding:20px;
    height:100%;
    border-radius: 10px;
}
.notes__card__info{
    width:420px;
    height:100%;
}

.notes__card__title {
    font-size: 18px;
}

.notes__card__text {
    margin-bottom: 15px;
}