@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 20px;
}

nav {
    display: flex;
    padding: 30px 100px;
}
